<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controller, scope | Angular.cz</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body ng-controller="UserController" class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-4 well">
        <label for="userName">Jméno</label>
        <input id="userName" class="form-control" ng-model="user.name">
        <label for="userSurname">Příjmení</label>
        <input id="userSurname" class="form-control" ng-model="user.surname">
        <label for="yearOfBirth">Rok narození</label>
        <input id="yearOfBirth" class="form-control" type="number" ng-model="user.yearOfBirth">
      </div>

      <div class="col-md-offset-1 col-md-5 well">
        Jméno: {{user.name}}<br />
        Příjmení: {{user.surname}}<br />
        Věk: {{getAge()}}<br />
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>